/* Remove default styles of browser */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


* {
  box-sizing: border-box;
}


/* STYLES START HERE */
html {
  --size-of-input: 44px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none !important;
  border: 2px solid black;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.customization__placement {
  width: fit-content;
}

.controls__progress {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Phone */
@media only screen and (max-width: 568px) {
  .controls__progress {
    grid-template-rows: 1fr 1fr;
  }

  .progress {
    gap: 20px;
    min-width: 200px;
    width: 100%;
  }
}

/* PC */
@media only screen and (min-width: 568px) {
  .controls__progress {
    grid-template-columns: 1fr 1fr;
  }

  .progress {
    height: 284px;
  }
}

.progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

.progress__text {
  width: 100%;
  text-align: left;
}

.progress__placement {
  margin: auto;
  width: 130px;
  aspect-ratio: 1;
}

.controls {
  max-width: 300px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.controls__input {
  text-align: center;

  width: var(--size-of-input);

  border: 1.5px solid black;
  height: 28px;
  border-radius: 42%;

  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.control__wrapper {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
}



/* Color */
.controls__color {
  display: none;
}

.color__placement {
  --picked-color: #005CFF;
}

input[type="color"]+label {
  display: flex;
  align-items: center;
}

input[type="color"]+label::before {
  width: var(--size-of-input);
  height: 1.5em;
  background-color: var(--picked-color);
  content: '';
  border-radius: 1rem;
}

#color-input+label {
  display: grid;
  grid-template-columns: 2fr 3fr;
}


/* SWITCH */

input[type="checkbox"] {
  display: none;
}

.ckeckbox__label {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  position: relative;
}

.ckeckbox__label::before {
  justify-content: end;
  content: "";
  width: var(--size-of-input);
  height: 1.5em;
  border-radius: 1em;
  background-color: gray;
  transition: background-color ease-in-out 300ms;
}

.ckeckbox__label::after {
  position: absolute;
  left: 0.15em;
  content: "";
  width: 1.2em;
  height: 1.2em;
  background: whitesmoke;
  border-radius: 1em;
  transition: transform ease-in-out 300ms, background-color ease-in-out 300ms;
}

input[type="checkbox"]:checked+label::after {
  transform: translateX(calc(var(--size-of-input) - 1.5em));
  background-color: white;
}

input[type="checkbox"]:checked+label::before {
  background-color: #005CFF;
}