@property --progress {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%;
}

* {
    box-sizing: border-box;
}

[role='progressbar'] {
    --fill-color: #005CFF;
    --empty-color: #EAF0F6;

    display: grid;
    place-items: center;
    --bar-width: 20px;

    aspect-ratio: 1;
    width: 100%;
    border-radius: 50%;

    background: conic-gradient(var(--fill-color) var(--progress, 0),
            var(--empty-color) 0);

    transition: background-color ease-in-out 300ms;


    &::after {
        display: grid;
        place-items: center;
        content: '';
        background: white;
        border-radius: inherit;

        width: calc(100% - calc(2 * var(--bar-width)));

        transition: width ease-in-out 300ms;
        place-items: center;
        aspect-ratio: 1;
    }

    transition: --progress 300ms linear;
}


[role='progressbar'][class*='progressbar_animated__simple'] {
    background: conic-gradient(var(--fill-color) 30%,
            var(--empty-color) 0);

    animation: simpleSpin 3s linear infinite;

    &::after {
        content: '';
    }
}


@keyframes simpleSpin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* PATH */

[role='progressbar'][class*='progressbar_animated__path'] {
    background: none;

    .progress__circle {
        stroke-width: var(--bar-width);
        stroke-dasharray: 108 252;
        stroke-dashoffset: 90;
        stroke: var(--fill-color);
        stroke-linecap: round;

        animation: pathSpin 3s linear infinite;
    }

    .progress__circle_grey {
        stroke: var(--empty-color);
        stroke-width: var(--bar-width);
    }

    &::after {
        content: none;
    }
}

@keyframes pathSpin {
    from {
        stroke-dasharray: 0 360;
        stroke-dashoffset: 90;
    }

    10% {
        stroke-dasharray: 98 262;
        stroke-dashoffset: 90;
    }

    50% {
        stroke-dasharray: 216 144;
    }

    60% {
        stroke-dasharray: 216 144;
        stroke-dashoffset: -50;
    }

    to {
        stroke-dasharray: 0 360;
        stroke-dashoffset: -270;
    }
}

my-progress-bar {
    width: 100px;
    aspect-ratio: 1;
}